@import '../../index.scss';
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $watcher-dark;
    height: 3.5rem;
    padding: 0 1rem 0 1rem;
    transition: all $speed ease-in-out;
    color: $watcher-white;
    

    .left {
        text-align: left;
        width: 10em;
        .menu-image-container {
            img {
                height: 2em;
                width: 2em;
            }
        }
    }
    .center {
        text-align: center;
        width: 10em;
    }
    .right {
        text-align: right;
        width: 10em;
    }
    
}

@media (min-width: $media-desktop) {
    .header {
        // position: fixed;
        // top: 0;
        // left: 0;
        // right: 0;
        // flex-direction: column;
        // justify-content: flex-start;
        // align-items: center;
        // flex-direction: row;
        // height: 5rem;
        // padding-inline: 3em;

        .menu-image-container {
            display: none;
        }
    }
}
// .header {
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     background-color: $Bone;
//     height: 3.5rem;
//     padding: 0 1rem 0 1rem;
//     transition: all $speed ease-in-out;
//     .logo-container {
//         display: flex;
//         align-items: center;
//         text-decoration: none;
//         color: $black;

//         .logo-text {
//             font-family: $font-medium;
//             font-size: 1.2em;
//             padding-inline-start: .6em;
//         }
//     }

//     .menu {
//         .menu-icon {
//             width: 2em;
//         }
//     }
// }

// @media (min-width: $tablet_size) {

// }

// @media (min-width: $desktop_size) {

//     .header {
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         flex-direction: column;
//         justify-content: flex-start;
//         align-items: center;
//         transition: all $fastSpeed ease-in-out;
//         flex-direction: row;
//         height: 7rem;
//         padding-inline: 3em;
//         .logo-container {
//             flex-direction: row;
//             align-items: center;
//             height: 100%;
//             margin: 0;
//             .icon {
//                 height: 3em;
//                 width: 3em;
//                 transition: all $fastSpeed ease-in-out;
//             }
//             .logo-text {
//                 font-family: $font-bold;
//                 font-size: 2.5em;
//                 padding-inline-start: .5em;
//                 transition: all $fastSpeed ease-in-out;
//             }
//         }
//         .navbar {
//             margin: 0;
//             width: 100%;
//             text-align: right;
//             .route {
//                 display: inline-block;
//                 font-family: $font-medium;
//                 font-size: 1.5em;
//                 margin-inline-start: .8em;
//                 transition: all $fastSpeed ease-in-out;
//                 &:hover,
//                 &.active {
//                     font-family: $font-bold;
//                 }
//                 &.active {
//                     text-decoration: underline;
//                 }
//             }
//         }
//         .menu {
//             display: none;
//         }
//         &.minimized {
            
//             height: 4rem;

//             .logo-container {

//                 .icon {
//                     height: 1.5em;
//                     width: 1.5em;
//                 }
//                 .logo-text {
//                     font-size: 1.5em;
//                 }
//             }

//             .navbar {
//                 font-size: .7em;
//             }
//         }
//     }
// }
