/*
  Colors
*/
$watcher-dark: #121212;
$watcher-accednt: #FF8C00;
$watcher-light: #F5F5F5;


$watcher-black: black;
$watcher-white: white;

/*
  Media queries
*/

$media-tablet: 768 + 'px';
$media-desktop: 1024 + 'px';
$media-desktop-large: 1260 + 'px';
$media-desktop-max: 1500 + 'px';


